// See https://zmk.dev/docs/development/hardware-integration/physical-layouts
// for how to configure this.

#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        //keys  //                     w   h    x    y     rot    rx    ry
        //    = <&key_physical_attrs 100 100    0    0       0     0     0>
        //    , <&key_physical_attrs 100 100  100    0       0     0     0>
        //    , <&key_physical_attrs 100 100    0  100       0     0     0>
        //    , <&key_physical_attrs 100 100  100  100       0     0     0>
        //    ;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  107  (-500)    50   157>
            , <&key_physical_attrs 100 100  100   98  (-500)   150   148>
            , <&key_physical_attrs 100 100  223   23       0     0     0>
            , <&key_physical_attrs 100 100  344    0     350   394    50>
            , <&key_physical_attrs 100 100  453   96     650   503   146>
            , <&key_physical_attrs 100 100  550  125     650   600   175>
            , <&key_physical_attrs 100 100  984  125  (-650)  1034   175>
            , <&key_physical_attrs 100 100 1082   96  (-650)  1132   146>
            , <&key_physical_attrs 100 100 1190    0  (-350)  1240    50>
            , <&key_physical_attrs 100 100 1311   23       0     0     0>
            , <&key_physical_attrs 100 100 1435   98     500  1485   148>
            , <&key_physical_attrs 100 100 1535  107     500  1585   157>
            , <&key_physical_attrs 100 100    8  207  (-500)    58   257>
            , <&key_physical_attrs 100 100  108  198  (-500)   158   248>
            , <&key_physical_attrs 100 100  223  123       0     0     0>
            , <&key_physical_attrs 100 100  339  100     350   389   150>
            , <&key_physical_attrs 100 100  442  195     650   492   245>
            , <&key_physical_attrs 100 100  540  225     650   590   275>
            , <&key_physical_attrs 100 100  995  225  (-650)  1045   275>
            , <&key_physical_attrs 100 100 1092  195  (-650)  1142   245>
            , <&key_physical_attrs 100 100 1196  100  (-350)  1246   150>
            , <&key_physical_attrs 100 100 1311  123       0     0     0>
            , <&key_physical_attrs 100 100 1427  198     500  1477   248>
            , <&key_physical_attrs 100 100 1526  207     500  1576   257>
            , <&key_physical_attrs 100 100   16  306  (-500)    66   356>
            , <&key_physical_attrs 100 100  116  297  (-500)   166   347>
            , <&key_physical_attrs 100 100  223  223       0     0     0>
            , <&key_physical_attrs 100 100  333  200     350   383   250>
            , <&key_physical_attrs 100 100  431  294     650   481   344>
            , <&key_physical_attrs 100 100  529  324     650   579   374>
            , <&key_physical_attrs 100 100 1006  324  (-650)  1056   374>
            , <&key_physical_attrs 100 100 1103  294  (-650)  1153   344>
            , <&key_physical_attrs 100 100 1202  200  (-350)  1252   250>
            , <&key_physical_attrs 100 100 1311  223       0     0     0>
            , <&key_physical_attrs 100 100 1418  297     500  1468   347>
            , <&key_physical_attrs 100 100 1518  306     500  1568   356>
            , <&key_physical_attrs 100 100   25  406  (-500)    75   456>
            , <&key_physical_attrs 100 100  124  397  (-500)   174   447>
            , <&key_physical_attrs 100 100  223  323       0     0     0>
            , <&key_physical_attrs 100 100  327  299     350   377   349>
            , <&key_physical_attrs 100 100  421  394     650   471   444>
            , <&key_physical_attrs 100 100  518  423     650   568   473>
            , <&key_physical_attrs 100 100 1016  423  (-650)  1066   473>
            , <&key_physical_attrs 100 100 1114  394  (-650)  1164   444>
            , <&key_physical_attrs 100 100 1207  299  (-350)  1257   349>
            , <&key_physical_attrs 100 100 1311  323       0     0     0>
            , <&key_physical_attrs 100 100 1410  397     500  1460   447>
            , <&key_physical_attrs 100 100 1510  406     500  1560   456>
            , <&key_physical_attrs 100 100  328  518     350   378   568>
            , <&key_physical_attrs 100 100  434  533    1150   484   583>
            , <&key_physical_attrs 100 100  536  564    1950   586   614>
            , <&key_physical_attrs 100 100  635  616    3250   685   666>
            , <&key_physical_attrs 100 100  900  616 (-3250)   950   666>
            , <&key_physical_attrs 100 100  998  564 (-1950)  1048   614>
            , <&key_physical_attrs 100 100 1101  533 (-1150)  1151   583>
            , <&key_physical_attrs 100 100 1206  518  (-350)  1256   568>
            ;
    };
};
